name: CI Workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "dist/**"
      - "node_modules/**"
  pull_request:
    branches: 
      - main
    paths-ignore:
      - "**/*.md"
      - "dist/**"
      - "node_modules/**"

defaults:
  run:
    shell: bash

jobs:
  check-and-build:
    name: Check code formatting and build action

    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check code formatting
        run: npm run format-check

      - name: Build action
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
            name: build-artifacts
            path: |
              dist/**
              action.yaml
            if-no-files-found: error

  update-distribution:
    name: Create pull request to update distribution

    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: build-artifacts
          path: .

      - name: Create pull request for distribution update
        uses: peter-evans/create-pull-request@v7.0.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Update distribution'
          title: Update distribution
          body: |
            - Updates the distribution for changes on `main` by CI
          branch: update-distribution
